/*
button{
	--mdc-theme-primary: black;
	--mdc-theme-secondary: black;
	--mdc-theme-surface: black;
	--mdc-theme-background: black;
}
*/

body::-webkit-scrollbar { width: 0 !important }
body{
	overflow: hidden;
	width: 400px;
	min-height: 56px;
	margin: 0px;
}

.groupheader{
	height: 50px;
	/*font-family: Roboto,sans-serif;
	font-size: 18pt;
	align-items: center;*/
	font-weight: bold;
}

.groupcontrols{
	--mdc-theme-primary: grey;
	margin-left: auto;
}

.groupname{
	/*font-size: 12pt;*/
	font-weight: bold;
}

.groupbutton{
	/*
	height: 20px;
	padding: 15px;
	*/
	--mdc-theme-primary: grey;
}

.groupicon{
	color: black;
}

.groupbutton:hover{
	/*background-color: lightgrey;*/
}

.tab_delete_button{
	margin-left: auto;
}


#header{
	background-color: green;
	height: 56px;
}

#headerdiv{
	/*height: 100px;*/
}


#groupcreationcontrolsbuttons{
	margin-left: auto;
	display: flex;
	padding-left: 2%;
}

#groupcreationcontrols{
	/*width: 100%;*/
	background-color: white;
	align-items: center;
	/*opacity: 0.975;*/

	padding: 5%;

	height: 35px;

	position: fixed; 
	bottom: 0
}

#groupnamealert{
	font-family: Roboto,sans-serif;
	position: relative; 
	bottom: 25%;
	left: 0;
}

#newgroup{
	margin-left: auto;
	margin-right: 3.5%;
	background-color: #003000;
}

#groupcreationcontrolstext{
	height: 100%;
}

#groupname_div{
	/*height: 30px;*/
	height: 100%;
}

#groupname{
	width: 100%;
	/*height: 30px;*/
}

#savegroup{
	--mdc-theme-primary: grey;
}

#cancelgroup{
	--mdc-theme-primary: grey;
}

#savegroupicon{
	color: black;
}

#cancelgroupicon{
	color: black;
}

